body{font-family: 'Poppins', sans-serif;
border: 0ch;}
.top-part{display: flex;
}
.hafe-width{
    width: 50%;}

.hafe-width img{
    width: 80%;}
h1{
    font-size: 50px;}    
.mission-color{color: orange;}    
.link{
    background-image: linear-gradient(orange,tomato);
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}  
.border{
    border-left:4px solid;
    border-image-slice: 1;
    border-color: rgb(37, 180, 49);
}
.three{
    display: flex;
    padding: 7px;}
.madel-part{
    display: flex;}
#my{text-align: center;}
.year{color: rgb(37, 180, 49);}
.madel-part img{
    width: 80px;}
.secent-all-box{
    box-shadow: 10px 10px 20 rgb(255, 249, 249);
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;}
    #goals{
        background-color: rgb(221, 194, 253);
        border-radius: 5px;
    }
